@import "../../global.scss";

.features_section {
  margin-top: 5rem;
  .description_container {
    padding: 0 28.5rem;

    .title {
      color: $title-color;
      font-weight: 500;
    }

    .description {
      color: $text-color;
      font-size: $text-font-size;
      line-height: $text-line-height;
    }
  }
  .features_list_container {
    border-bottom: solid 1px hsl(0, 0%, 85%);
    width: fit-content;
    margin: 3rem auto;
    .features_list_item {
      padding: 1rem 2rem;
      display: inline-block;
      cursor: pointer;
      border-bottom: solid 3px white;
    }

    .feature_active {
      border-bottom: solid 3px $secondary-color;
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 10rem;
    .description_container {
      padding: 0 $pd-medium;
    }

    .features_list_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: unset;
      .features_list_item {
        width: 100%;
        position: relative;

        border-top: solid 1px hsl(0, 0%, 85%);

        &:last-child {
          border-bottom: solid 1px hsl(0, 0%, 85%);
        }
      }

      .feature_active {
        border-bottom: unset;
        // border-bottom: unset;
        &::before {
          content: "";
          position: absolute;
          left: 30%;
          bottom: 0;
          // height: 1px;
          width: 40%; /* or 100px */
          border-bottom: 3px solid $secondary-color;
        }
      }
    }
  }
}
