@import "../../global.scss";

.features_section {
  margin-top: 5rem;
  .description_container {
    padding: 0 28.5rem;

    .title {
      color: $title-color;
      font-weight: 500;
    }

    .description {
      color: $text-color;
      font-size: $text-font-size;
      line-height: $text-line-height;
    }
  }
  .features_list_container {
    border-bottom: solid 1px hsl(0, 0%, 85%);
    width: fit-content;
    margin: 3rem auto;
    .features_list_item {
      padding: 1rem 2rem;
      display: inline-block;
      cursor: pointer;
      border-bottom: solid 3px white;
    }

    .feature_active {
      border-bottom: solid 3px $secondary-color;
    }
  }
}
