@import "../../global.scss";

.feature_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7rem;
  .illustration_container {
    position: relative;
    .illustration_back {
      background-color: $primary-color;
      border-radius: 0 0 7rem 0;
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      height: 18rem;
      width: 90%;
      z-index: -1;
    }

    .illustration_tab {
      float: right;
      // margin-bottom: 3rem;
      margin-top: 2rem;
      border-radius: 0.5rem;
      overflow: hidden;
      z-index: 1;
      height: 25rem;
    }
  }

  .text_container {
    text-align: left;
    padding: 0 14rem 0 0;
    p {
      color: $text-color;
      font-size: $text-font-size;
      line-height: $text-line-height;
      margin: 0 0 2rem 0;
    }
    h2 {
      font-weight: 500;
      // margin: 0 0 2rem 0;
      color: $title-color;
    }
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 2rem;

    .text_container {
      text-align: center;
      padding: 0 $pd-medium;
    }

    .illustration_container {
      .illustration_tab {
        height: fit-content;
        width: fit-content;

        margin-bottom: 1rem;
        margin-right: $pd-medium;
        // margin: auto;

        .illustration_img {
          height: 13rem;
          width: auto;
        }
      }

      .illustration_back {
        height: 10rem;
        width: 70%;
      }
    }
  }
}
