$pd-desktop: 10rem;
$pd-medium: 2.4rem;
$primary-color: hsl(231, 69%, 60%);
$secondary-color: hsl(0, 94%, 66%);
$title-color: hsl(229, 31%, 21%);
$text-color: hsl(229, 8%, 60%);
$text-font-size: 0.9rem;
$h1-size: 2.5rem;
$text-line-height: 1.5rem;
